<html>
	<head>
<!-- fotorama.css & fotorama.js. -->
	<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
		<script type="text/javascript">
			$(document).ready(function(){
			    // alert("Ready");
			});
		</script>
		
		<style>
			.left{
				/*background-color: green;*/
				height: 667px;
			}
			.right{
				/*background-color: red;*/
			}
			.container-fluid{
				margin-top: 5%;
				margin-left: 10%;
				/*background-color: orange;*/
				height: 667px;
			}
			h2{
				/*color: #ff64c7 !important;*/
				/*font-weight: bold;*/
				/* Lighter Color in logo is #ff99ca*/
			}
			h2:hover{
				/*color: #ff99ca !important;*/
			}
			a:hover{
				text-decoration: none;
				color: #ff99ca !important;
			}
			a{
				font-weight: bold;
				color: #ff64c7 !important;
			}
			.fotorama__caption__wrap{
			    font-size: 1.5em;
			    background: none;
				color: #ff99ca !important;
			    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
			}
			.fotorama__arrow{
				/*color: #ff99ca !important;*/
			}
			.social{
				width: 100%;
				position: absolute;
				bottom: 5%;
			}
			.social img{
				display: inline;
			}
			.social img:hover{
				opacity: 0.7;
			}
			.about{
				margin-top: 2em;
			}
			.leftNav{
				margin-top: 2em;
			}
			.navLogo img{
				width: 100%;
			}
		</style>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2 left">
					<span class="navLogo"><a href="/classic"><%= image_tag 'fbtest.png' %></a></span>
					<div class="leftNav">
						<h3><a href="crafts">CUNTS & CRAFTS</a></h3>
						<h3><a href="arts">ARTS & SHAFTS</a></h3>
						<h3><a href="classic">THE CLASSIC</a></h3>
						<h3 class="about"><a href="/about">ABOUT</a></h3>
						<h3 class="contact"><a href="/contact">CONTACT</a></h3>
					</div>
					<div class="social">
						<a href="asdf" class="soIcon"><%= image_tag 'instagram.png' %></a>
					</div>
				</div>
				<div class="col-md-10 right">
					<div class="fotorama">
					  <img src="http://s.fotorama.io/1.jpg" data-caption="FIRST TITLE">
					  <img src="http://s.fotorama.io/2.jpg" data-caption="SECOND TITLE">
					</div>
				</div>
			</div>
		</div>
	</body>
</html>