<html>
	<head>
		<script type="text/javascript">
			$(document).ready(function(){
        		$('#myModal').modal('show');
			});
		</script>
		<style>
			.left{
				/*background-color: green;*/
			}
			.right{
				/*background-color: red;*/
			}
			.container{
				margin-top: 15%;
			}
			h2{
				/*color: #ff64c7 !important;*/
				/*font-weight: bold;*/
				/* Lighter Color in logo is #ff99ca*/
			}
			h2:hover{
				/*color: #ff99ca !important;*/
			}
			a:hover{
				text-decoration: none;
				color: #ff99ca !important;
			}
			a{
				font-weight: bold;
				color: #ff64c7 !important;
			}
			.modal-header img{
				/*margin-left: 30%;*/
			}
			.modal{
				text-align: center;
				color: #ff64c7 !important;
			}
			.modal-body{
				height: 30em;
				padding: 15%;
			}
			.modalButtons{
				margin-top: 5em;
			}
			.modalButtons button{
				margin: 0px 2em !important;
			}
/*button*/
.sub { 
  color: #ffffff; 
  background-color: #FF64C7; 
  border-color: #A36281; 
  padding: 1em 2em;
} 
 
.sub:hover, 
.sub:focus, 
.sub:active, 
.sub.active, 
.open .dropdown-toggle.sub { 
  color: #ffffff; 
  background-color: #FF99CA; 
  border-color: #A36281; 
} 
 
.sub:active, 
.sub.active, 
.open .dropdown-toggle.sub { 
  background-image: none; 
} 
 
.sub.disabled, 
.sub[disabled], 
fieldset[disabled] .sub, 
.sub.disabled:hover, 
.sub[disabled]:hover, 
fieldset[disabled] .sub:hover, 
.sub.disabled:focus, 
.sub[disabled]:focus, 
fieldset[disabled] .sub:focus, 
.sub.disabled:active, 
.sub[disabled]:active, 
fieldset[disabled] .sub:active, 
.sub.disabled.active, 
.sub[disabled].active, 
fieldset[disabled] .sub.active { 
  background-color: #FF64C7; 
  border-color: #A36281; 
} 
 
.sub .badge { 
  color: #FF64C7; 
  background-color: #ffffff; 
}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-8 left">
					<a href="/home"><%= image_tag 'logo1.png' %></a>
				</div>
				<div class="col-md-4 right">
					<h2><a href="asdf">ARTS & SHAFTS</a></h2>
					<h2><a href="asdf">CUNTS & CRAFTS</a></h2>
					<h2><a href="asdf">PAST WORK</a></h2>
				</div>
			</div>
		</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <%= image_tag 'logo2.png' %>
      </div>
      <div class="modal-body">
        <h2>MATURE CONTENT AHEAD</h2>
        <h3>I AM 18 YEARS OLD OR OLDER</h3>
        <div class="modalButtons">
	        <button type="button" class="btn sub" data-dismiss="modal">YES</button>
	        <a href="no_party"><button type="button" class="btn sub">NO</button></a>
    	</div>
      </div>
    </div>
  </div>
</div>
	</body>
</html>