<html>
<head>
<style>
	.container{
		margin-top: 15%;
		text-align: center;
	}
	h1{
		color: #ff64c7 !important;
		font-weight: bold;
		/* Lighter Color in logo is #ff99ca*/
	}
	h2{
		color: #ff64c7 !important;
		font-weight: bold;	
	}
</style>
<script type="text/javascript">
	$(document).ready(function(){
		setTimeout(function () {
       window.location.href = "http://google.com"; //will redirect to your blog page (an ex: blog.html)
    }, 4000); //will call the function after 2 secs.
	})
</script>
</head>
<body>
	<div class="container">
		<h1>PARTY'S OVER!</h1>
		<h2>COME BACK WHEN YOU'RE 18 ;)</h2>
	</div>
</body>
</html>